.install__background {
  position: relative;
  height: 476px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/install-section/install-section-bc.jpg);
}

.install__gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--dark-bc-gradient);
}

.install__container {
  text-align: center;
  padding: 126px 0;
}

.install__title {
  margin-bottom: 12px;
  font-weight: var(--bold-fw);
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--green-dec-color);
}
.install__content {
  margin-bottom: 67px;
  font-weight: var(--normal-fw);
  font-size: 16px;
  line-height: 40px;
  color: var(--light-grey-text-color);
}
