.title-box {
  margin: 0 auto 134px;
  width: 798px;
  height: 100%;
  font-family: var(--ff);
  color: var(--light-text-color);
  text-align: center;
}

.title {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
}

.title--second-part {
  color: var(--green-dec-color);
}
.title__subtitle {
  display: block;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 78px;
}

.title__content {
  font-weight: 300;
  font-size: 34px;

  text-transform: capitalize;
  color: var(--light-grey-text-color);
}
.title__btn-box {
  width: 364px;
  margin: 0 auto;
  padding-bottom: 244px;
}
.title__btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: var(--light-text-color);
  padding: 16px 17px;
  border-radius: 4px;
  box-shadow: 0 -5px 0 0 rgb(255, 255, 255);
  transition: color 200ms linear;
}

.title__btn--explore {
  margin-right: 26px;
  background-color: var(--green-dec-color);
}

.title__btn--purchase {
  background-color: var(--light-blue-dec-color);
}
