:root {
  --menu-color: rgba(255, 255, 255, 0.6);
  --green-dec-color: rgb(24, 207, 171);
  --nav-bc-color: rgba(94, 93, 88, 0.6);
  --light-text-color: rgb(255, 255, 255);
  --light-blue-dec-color: rgb(0, 203, 246);
  --light-grey-text-color: rgb(212, 212, 212);
  --dark-blue-dec-color: rgb(28, 42, 51);
  --dark-text-color: rgb(78, 78, 78);
  --middle-grey-text-color: rgb(113, 113, 113);

  /* --main-text-color: rgb(51, 51, 51);
    
    --gray-text-color: rgb(153, 153, 153);
    
    --red-dec-color: rgb(243, 129, 12);
    --yellow-dec-color: rgb(252, 227, 138);
    --gradient: linear-gradient(
      to top,
      rgba(252, 227, 138, 90%),
      rgba(243, 129, 129, 90%)
    ); */
  --ff: "Montserrat", "Arial", sans-serif;
}
