.page-header__background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../../img/header-section/header-background.jpg);
}

.header__box {
  margin: 0 auto 134px;
  width: 798px;
  height: 100%;
  color: var(--light-text-color);
  text-align: center;
}

.header__title {
  margin-bottom: 22px;
  font-weight: var(--bold-fw);
  font-size: 35px;
  text-transform: uppercase;
}

.header--second-part {
  color: var(--green-dec-color);
}
.header__subtitle {
  display: block;
  margin-bottom: 22px;
  font-weight: var(--bold-fw);
  font-size: 78px;
}

.header__content {
  font-weight: var(--light-fw);
  font-size: 34px;
  text-transform: capitalize;
  color: var(--light-grey-text-color);
}
.header__btn-box {
  width: 364px;
  margin: 0 auto;
  padding-bottom: 244px;
}
