.menu__wrapper {
  background-color: var(--nav-bc-color);
}

.menu__container {
  display: flex;
  justify-content: space-between;
  padding: 26px 0px;
}

.menu__list-wrapper {
  display: flex;
  align-items: center;
}

.menu__link {
  padding-bottom: 49px;
  margin-right: 25px;
  font-size: 16px;
  font-weight: var(--bold-fw);
  line-height: 25px;
  text-transform: uppercase;
  color: var(--menu-color);
  transition: color 200ms linear;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--green-dec-color);
  border-bottom: 2px solid var(--green-dec-color);
}

.menu__svg {
  width: 20px;
  height: 20px;
  fill: var(--menu-color);
  transition: color 200ms linear;
}

.menu__svg:hover,
.menu__svg:focus {
  fill: var(--green-dec-color);
  transition: color 200ms linear;
}
