.services {
  margin-bottom: 90px;
}

.services__list {
  display: flex;
  justify-content: start;
  text-align: center;
  margin-bottom: 28px;
}

.services__item {
  background-color: var(--works-bc-color);
  width: 16%;
  padding: 16px 0;
  border: 1px solid var(--light-grey-text-color);
  font-weight: var(--normal-fw);
  font-size: 16px;
  line-height: 39px;
  color: var(--middle-grey-text-color);
  transition: border 200ms linear;
}

.services__item:hover,
.services__item:focus {
  border: 1px solid var(--green-dec-color);
  transition: border 200ms linear;
  cursor: pointer;
}

.services__item--active {
  position: relative;
  color: var(--light-text-color);
  background-color: var(--green-dec-color);
  user-select: none;
}

.services__item--active::before,
.services__item--active::after {
  content: "";
  position: absolute;
  left: 44%;
  border: 10px solid transparent;
  border-top: 10px solid var(--green-dec-color);
}
.services__item--active::after {
  border-top: 10px solid var(--green-dec-color);
  bottom: -19px;
}

.services__conten-box {
  font-weight: var(--light-fw);
  font-size: 14px;
  line-height: 24px;
}

.services__conten-inner {
  display: flex;
}

.services__photo {
  margin-right: 15px;
}
