.install {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../../img/install-section/install-section-bc.jpg);
}

.install__gradient {
  background: var(--dark-bc-gradient);
}

.install__container {
  text-align: center;
  padding: 126px 0 146px;
}

.install__title {
  margin-bottom: 12px;
  font-weight: var(--bold-fw);
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--green-dec-color);
}
.install__content {
  margin-bottom: 80px;
  font-weight: var(--normal-fw);
  font-size: 16px;
  line-height: 40px;
  color: var(--light-grey-text-color);
}
