.gallery {
  margin-bottom: 68px;
}
.grid {
  margin: 0 auto 52px;
  opacity: 0;
  transition: opacity 0.4s ease-out 0s;
}
.grid.loaded {
  opacity: 1;
}
.grid-sizer,
.grid-item {
  width: 31.63%;
}

.grid-item--inline > .gallery__img-box {
  display: inline-block;
}

.grid-item {
  display: inline-block;
  margin-bottom: 20px;
}

.gutter-sizer {
  width: 1.7%;
}

.gallery__img-box {
  position: relative;
}

.gallery__overlay {
  position: absolute;
  display: flex;
  opacity: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--gallery-bc-gradient);
  transition: opacity 200ms linear;
}

.gallery__img-box:hover .gallery__overlay {
  opacity: 1;
  transition: opacity 200ms linear;
}
.gallery__overlay-list {
  padding-left: 19px;
  align-self: center;
}
.gallery__overlay-link {
  display: inline-block;
  width: 27px;
  height: 25px;
}

.gallery__overlay-link:first-child {
  margin-right: 20px;
}

.gallery__overlay-link--resize {
  background: no-repeat center var(--gallery-bc-link)
    url(../../img/svg/resize.svg);
}

.gallery__overlay-link--search {
  background: no-repeat center var(--gallery-bc-link)
    url(../../img/svg/gallery-search.svg);
}

.hidden-img {
  display: none;
}
