.option {
  margin-bottom: 84px;
}

.option__list {
  width: 100%;
  justify-content: space-between;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--bold-fw);
  font-size: 20px;
  line-height: 24px;
}

.option__item {
  width: 25%;
  min-width: 300px;
  box-shadow: 0 -5px 0 0 var(--light-text-color);
}

.option__item:nth-child(odd) {
  padding-top: 95px;
  padding-bottom: 110px;
  color: var(--green-dec-color);
  background-color: var(--dark-blue-dec-color);
}

.option__item:nth-child(even) {
  padding-top: 114px;
  padding-bottom: 110px;
  color: var(--light-text-color);
  background-color: var(--green-dec-color);
}
.option__svg:nth-child(odd) {
  margin-bottom: 47px;
}
.option__svg:nth-child(even) {
  margin-bottom: 60px;
}
